In [2]:
# Import our libraries we are going to use for our data analysis.
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# Read the file in as pandas dataframe

In [3]:
file_path = '/Users/Suha/Insight/coding_challenge/test_challenge/ingestion/lending-club-loan-data/loan.csv'
loan = pd.read_csv(file_path, low_memory=False)

In [30]:
# if we loose the working dataframe, no need to reload the data
df = loan 
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

### I want to understand what is the yearly trend in the loan amount and interest rates
* How is the interest rate , loan amount , number of loans , total loans distributed by grade
* is there a correlation between interest rate and grade

In [ ]:
df['issue_d'].value_counts(dropna = False)
# all the dates are populated. let us convert into datetime value
df['issue_d_to_date'] = pd.to_datetime(df.issue_d)

##let us only work witht the required columns

In [ ]:
[loan_amnt , funded_amnt , ]

df = df []